@model Green.Models.DoctorModel

@{
    ViewBag.Title = "Upcoming Appointments";
}
<body>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sex)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sex)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>
            <dt>
                @Html.DisplayName("Search Patient")
            </dt>
            <dd>
                @using (Html.BeginForm())
                {
                    @Html.TextBox("SearchString")
                    <input type="submit" value="Filter" />
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Appointments)
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Patient Name</th>
                        <th>Email</th>>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                    @foreach (var item in Model.Appointments)
                    {
                        if (item.Date.Date.Add(item.Time.TimeOfDay).CompareTo(DateTime.Now) > 0)
                        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    @if (!item.IsActive)
                    {
                <td>
                    @Html.ActionLink("DoctorRefferall", "DoctorRefferall", new { Controller = "Appointment", Action = "Details", id = item.AppointmentID })|
                    @Html.ActionLink("Cancel", "Delete", new { Controller = "Appointment", Action = "Delete", id = item.AppointmentID })|
                    @Html.ActionLink("Record", "Create", new { Controller = "Recnotes", Action = "Create", id = item.AppointmentID })|
                    @*@Html.ActionLink("Create Prescription", "Bookings", new { Controller = "Doctor", Action = "Bookings", id = item.UserID })*@
                    @Html.ActionLink("Prescriptions", "Create", new { Controller = "Prescriptions", Action = "Create", id = item.AppointmentID })


                 </td>
                 
                    }
                </tr>
                        }
                    }
                            </table>
                        </dd>
                    </dl>
                </div>
                <p>
                    @*Use the browser's internal history. Otherwise Redirectin to all Appointments*@
                    <a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
                </p>
            </body>



<script>
     function deleteItem(id) {
        var doDelete = confirm("Are you sure you want to remove this Car ,This Cant be Reversed?");
        if (doDelete) {
            $.ajax({
                type: "Get",
                url: "@Url.Action("Delete")?id=" + id,
                async: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    location.reload();
                },
                error: function (e) {
                    return;
                }
            });
        }
    }
</script>